body {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator {
    padding: 2%;
    border: 1px solid black;
    height: 460px;
    width: 400px;
    background-color: rgb(93, 125, 228);
}
#clearScreen {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    height: 50px
}
#clear {
    flex-grow: 1;
}
#screen {
    flex-grow: 3;
    background-color: white;
    overflow: hidden;
}
#clear, #screen {
    height: 50px;
}
.buttons {
    width: 90px;
    height: 90px;
    font-size: 2em;
}
#line1, #line2, #line3, #line4 {
    display: flex;
    justify-content: center;
}

