body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #fff;
}

.calculator {
    width: 300px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: right;
    background-color: #000;
    color: #fff
}
  
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
}
  
button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
}
  

.clear-button {
    background-color: #ff0000;
}